body{
    font-family: Roboto,Arial,sans-serif;
}

textarea {
    min-height: 400px;
}

.email-box-read{
    display: flex;
    flex-direction: column;
    background: rgba(242,245,245,0.8);
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    border: #202124 1px;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}

.email-box-not-read{
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    background: rgba(255,255,255,0.902);
    border: #202124 1px;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
}

.sender-email{
    color: #202124;
    font-weight: 700;
    font-size: .875rem;
    letter-spacing: .2px;
}

.subject-email{
    color: #202124;
    font-size: .875rem;
    letter-spacing: .2px;
}

.timestamp-email{
    color: #202124;
    font-size: .75rem;
    letter-spacing: .3px;
}
