body{
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#header{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 60vw;
}

#header-img{
  max-width: 300px;
  width: 100%;
  height:100%;
}

#nav-bar{
  font-weight: 400;
  width: 40vw;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li{
  list-style: none;
}

.nav-link{
  color: black;
  text-decoration: none;
}

#hero, #form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero input[type="email"]{
  max-width: 275px;
  min-width: 100px;
  width: 275px;
  height: 30px;
  margin-bottom: 15px;
}

#hero input[type="submit"]{
  max-width:150px;
  width: 100%;
  height: 30px;
  background-color: #f1c40f;
  border: none;
  font-weight: 900;
  font-size: 1em;
}

.features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  margin: 0;
  padding: 0;
}

.grid{
  display: flex;
  flex-direction: row;
}

.icon{
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid{
  color: darkorange;
  font-size: 50px;
}

#howItWorks{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 90px;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(80%/3);
  border: 1px solid black;
  margin: 20px;
  border-radius: 3px;
}

.level{
  background-color: #ddd;
  color: black;
  width: 100%;
  padding: 15px 0;
  font-weight: 700;
}

ol > li{
  margin-right: 25px;
}

.btn{
  background-color: #f1c40f;
  margin: 15px 0;
  font-weight: 400;
  border: 0;
  width: 30%;
  height: 30px;
  font-size: 1em;
  min-width: 100px;
}

@media(max-width: 700px){
  #pricing{
    flex-direction: column;
    align-items: center;
  }
  .product{
    width: 300px;
  }
}
